#main {
	width: 1192px;
	margin: 0 auto;  /*居中*/
}

#backtop {
	display: none;
	width: 40px;
	height: 40px;
	position: fixed;
	background: url(../img/top_bg.png) no-repeat left top;
	left: 50%;
	margin-left: 605px;
	bottom: 30px;
}

#backtop:hover {
	background: url(../img/top_bg.png) no-repeat left -40px;
}